.Navbar {
  margin: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #0079c0;
  padding: 20px 20px 20px 20px;
}

.Navbar a {
  color: #09507c;
  text-decoration: none;
  font-size: 1.2rem;
}
.Navbar a:hover {
  text-decoration: underline;
  color: #f58832;
}

.MainNav {
  display: flex;
  height: 58px;
  justify-content: space-between;
  gap: 77.5px;
  align-items: center;
  background-color: #7dc5d7;
  padding: 20px 20px 10px 30px;
  margin: 10px;
  border-radius: 3px;
}

.Nav-logo {
  width: 150px;
  height: auto;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 5%;
}

.NavLinks {
  display: flex;
  gap: 20px;
}

ul {
  list-style: none;
  gap: 20px;
  display: flex;
  padding: 0;
  margin: 0;
}

.ProfileImage {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 2px;
}

.LogOutButton {
  background-color: #f58832;
  color: #09507c;
  padding: 10px 20px;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  border: none;
}
.LogOutButton:hover {
  background-color: #e07b2c;
}

/* Bakkar navbar code */
/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0033a0;
  padding: 15px 30px;
  color: white;
} */

/* .logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
} */

/* .logo-section img {
  width: 35px;
  height: 35px;
} */

/* .navbar h1 {
  margin: 0;
  font-size: 22px;
}

.nav-buttons button {
  background-color: #ffc72c;
  color: #000;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
} */
