.signin-container {
  display: flex;
  min-height: 100vh;
  background-color: #02273e;
  justify-content: center;
  align-items: center;
}

.signin-form {
  /* flex: 1; */
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  color: white;
}

.signin-form h2 {
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fec14f;
}

.subtext {
  margin-bottom: 0px;
  color: #f58832;
  font-size: 20px;
  font-weight: 600;
}

.login-form label {
  font-weight: 600;
  margin-top: 20px;
  color: #7dc5d7;
  font-size: 20px;
}

.login-form input {
  padding: 12px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.primary-btn {
  margin-top: 30px;
  background-color: #3944bc;
  color: white;
  padding: 14px;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
  color: #fec14f;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 1px solid #ddd;
}

.social-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  color: black;
}

.social-btn img {
  width: 22px;
}

.register-text {
  margin-top: 5px;
  font-size: 20px;
  color: #ccc;
}

.register-text a {
  color: #3944bc;
  font-weight: bold;
  text-decoration: none;
}

.signup-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}

select {
  padding: 2px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: black;
}

input {
  padding: 2px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: black;
}
